* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

nav, .icon{
    display: flex;
    justify-content: space-between;
}

nav i{
    font-size: 5rem;
    margin: 1rem;
    color: blue;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: blue;
}

#containerHomePage{
    display: flex;
    flex-flow: row wrap;
    width: 85%;
    margin: auto;
}

.oneLink{
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    margin: 2.5rem;
}

.linkName{
    padding: 2rem;
    border-top: 1px solid black;
    text-align: center;
}

.connexionForm{
    margin: 5rem;
}

.connexionForm div, #footer{
    margin: 2rem;
}

h1{
    text-align: center;
}

.buttonMenu{
    margin: 2rem;
    padding: 2rem;
    border: 1px solid blue;
}

.delButton{
    color: red;
    cursor: pointer;
}

.editButton{
    color: blue;
    cursor: pointer;
}

#containerEdit{
    margin: 2rem;
}

#divEdit, #divAdd{
    display: inline-block;
    padding: 1.5rem;
    border: 1px solid black;
    cursor: pointer;
}

#statContainer{
    margin: 0 2rem;
}

#graph{
    width: 400px;
    height: 400px;
}